/* You can add global styles to this file, and also import other style files */
html{
    margin: 0px;
    padding: 0px;
    min-width: var(--min-width);
}

body {
    min-width: var(--min-width);
    font-size: 14px;
    line-height: 1.42;
    color: #333;
    background-color: #f3f3f3;
}

input[type="number"]{
    -moz-appearance: textfield;
}
.row{
    margin-left: 0px;
    margin-right:0px;
}
/* ==========================收藏样式============================ */
.inlink{
    display: inline-block;
}
.checkbox1{
    margin-right:5px;
    width:15px;
    height: 15px;
    display: inline-block;
}
.loginbutton{
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    background-color: dodgerblue;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: white;
}
.floatcenter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.floatright{
    margin-right: 50px;
    float: right;
}
ol, ul {
    list-style: none;
}
a{
    display:inline-block;
}
a:hover{
    cursor: pointer;
    text-decoration : none ;
}

/* ================================================== */
/* small and center font */
.g_scf p{/* 🍅 */
    font-size: 0.8em;
    text-align: center;
}
/* sharnk text */
.g-sharnk{/* 🍅 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
/* height images */
.g-himg{/* 🍅 */
    height: 100%;
    max-width: 100%;
}
/* weithg images *//* 🍅 */
.g-wimg{
    width: 100%;
    max-height: 100% ;
}
/* galbo varial */
:root {/* 🍅 */
     /*theme-color*/
    --tmcl-1: #3193e8; 
    --tmcl-2: #337ab7; 
    --tmcl-3: #b9e7ff;
    /*front-color*/
    --ip-fk:#333333; /*input-front-color*/
    --bt-fk:#ffffff;  /*button-font-color*/
    /* backgroud-color */
    --liner-bc: linear-gradient(120deg,#3193e8,#337ab7);
    /*border-color*/
    --thin-bdc:#ddd;
    --min-width:300px;

}  
/* galbol background board */
.g-bg-box{/* 🍅 */
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
    background-color: #fff;
}
.g-tag{/* 🍅 */
    color: #ffffff;
    font-size: 1.1em;
    margin: 0px 10px;
    font-weight: 600;
}
.g-tag:hover .g-tag:focus .g-tag:active{/* 🍅 */
    color:var(--tmcl-3);
}

@media screen and (max-width:600px) {/* 🍅 */
    .g-bg-box{
        box-shadow: none;
    }
}