<div style="min-height: 50em">
<div class="main-body" style="min-height: 50em;">
  <div class="goback">
    <a style="font-size: 1.2em; color: #ababab;" (click)="goback()">< 回首页</a>
  </div>
  <div class="signupbox">
    <h2 *ngIf="model=='signup'">🌴注册账号🌴</h2>
    <h2 *ngIf="model=='resetpassword'">🌲重置密码🌲</h2>
    <div class="rightbox">
      <form name="register" *ngIf="model=='signup'">
      <h4>用户名称</h4>
      <div class="row inputrow">
        <input type="text" class="sginput" maxlength="30" pattern="^[^ ]{2,30}$" name="username" id="username" autocomplete="off">
      </div>
      <h4>设置密码</h4>
      <div class="row inputrow">
        <input type="password" class="sginput" maxlength="20" pattern="^[a-zA-Z._0-9]{6,20}$" name="password" id="password1" autocomplete="off">
      </div>
      <h4>确认密码</h4>
      <div class="row inputrow">
        <input type="password" class="sginput" maxlength="20" pattern="^[a-zA-Z._0-9]{6,20}$" name="password" id="password2" autocomplete="off">
      </div>
      <h4>邮箱地址</h4>
      <div class="row inputrow">
        <input type="email" class="sginput" maxlength="30" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" name="email" id="email" autocomplete="off">
      </div>
      <h4>验证码</h4>
      <div class="row inputrow">
        <input type="text" class="sginput" style="margin-right: -90px;" name="comfirm" maxlength="8" pattern="^[0-9]{6}$" id="comfirmcode" autocomplete="off">
        <span>
          <a (click)="getComfirmCode()" id="sendcode">{{sendMsg}}</a>
        </span>
      </div>
      <div class="submit">
        <a (click)="register()">提交</a>
      </div>
    </form>

    <form name="register" *ngIf="model=='resetpassword'">
        <h4 style="margin-top: 2em;">邮箱地址</h4>
        <div class="row inputrow">
          <input type="email" class="sginput" maxlength="30" pattern="^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$" name="email" id="rsemail" autocomplete="off">
        </div>
        <h4>新密码</h4>
        <div class="row inputrow">
          <input type="password" class="sginput" maxlength="20" pattern="^[a-zA-Z._0-9]{6,20}$" name="password" id="rspassword1" autocomplete="off">
        </div>
        <h4>确认密码</h4>
        <div class="row inputrow">
          <input type="password" class="sginput" maxlength="20" pattern="^[a-zA-Z._0-9]{6,20}$" name="password" id="rspassword2" autocomplete="off">
        </div>
      
        <h4>验证码</h4>
        <div class="row inputrow">
          <input type="text" class="sginput" style="margin-right: -90px;" name="comfirm" maxlength="8" pattern="^[0-9]{6}$" id="rscomfirmcode" autocomplete="off">
          <span>
            <a (click)="rsgetComfirmCode()" id="rssendcode">{{sendMsg}}</a>
          </span>
        </div>
        <div class="submit">
          <a (click)="rsregister()">提交</a>
        </div>
      </form>
      
    </div>
  </div>
</div>
</div>