
<!--footer-->
<div id="footer">
    <div class="row">
        <footer class="col-md-12 clearfix main-footer">
            <div class="container   hidden-xs hidden-sm"  >
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">友情链接</h4>
                            <div class="content tag-cloud friend-links">
                                <a>司机聊天室</a>
                                <a>司机的博客</a>
                                <a>司机仓库</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">技术栈</h4>
                            <div class="content tag-cloud">
                                <a>Bootstrap</a>
                                <a>Golang</a>
                                <a>PostgresSql</a>
                                <a>Redis</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">合作伙伴</h4>
                            <div class="content tag-cloud">
                                <a>司机联盟</a>
                                <a>司机俱乐部</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
              <div class="row">
                  <div class="col-sm-12">
                    <span>Copyright © <a>BlackCarDriver.cn</a></span> |
                    <span>备案号 123-345-12356-123</span>
              </div>
            </div>      
          </div> 
        </footer>
    </div>
  </div>
  
  