
<!--footer-->
<div id="footer">
    <div class="row">
        <footer class="col-md-12 clearfix main-footer">
            <div class="container footerlink"  >
                <div class="row">
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">链接分享</h4>
                            <div class="content tag-cloud friend-links">
                                <a href="http://172.22.27.1/" target="blank">广大OJ</a>
                                <a href="http://tieba.baidu.com/f?kw=%E5%B9%BF%E5%B7%9E%E5%A4%A7%E5%AD%A6" target="blank">广大贴吧</a>
                                <a href="https://blog.csdn.net/BlackCarDriver" target="blank">司机的博客</a>
                                <a href="https://github.com/BlackCarDriver" target="blank">司机的仓库</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">技术栈</h4>
                            <div class="content tag-cloud">
                                <a href="https://golang.org/" target="blank">Golang</a>
                                <a href="https://www.postgresql.org/" target="blank">PostgresSql</a>
                                <a href="https://redis.io/" target="blank">Redis</a>
                                <a href="https://www.nginx.com/" target="blank">Nginx</a>
                                <a href="https://www.docker.com/" target="blank">Docker</a>
                                <a href="https://jenkins.io/zh/" target="blank">jenkins</a>
                                <a href="https://angular.io/" target="blank">Angular</a>
                                <a href="https://v3.bootcss.com/" target="blank">Bootstrap</a>
                                <a href="https://jquery.com/" target="blank">Jquery</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="widget">
                            <h4 class="title">合作伙伴</h4>
                            <div class="content tag-cloud">
                                <a (click)="callegg()">司机俱乐部</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
              <div class="row">
                  <div class="col-sm-12">
                    <span>Copyright © <a>BlackCarDriver.cn</a></span> |
                    <span>备案号 粤ICP备19026813号-1</span>
              </div>
            </div>      
          </div> 
        </footer>
    </div>
  </div>
  
  