.search-row {
    height: 100px;
    text-align: center;
    padding: 30px;
}

.search-input {
    padding-left: 15px;
    color: #333333;
    width: 500px;
    border-radius: 30px 0px 0px 30px;
    border: 3px solid #337ab7;
    height: 40px;
    font-size: 1.2em;
}

.search-btn {
    width: 80px;
    height: 40px;
    border-radius: 0px 30px 30px 0px;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(120deg, #337ab7, #3193e8);
    border: 3px solid #337ab7;
    border-right: none;
}

.search-btn:hover {
    background: #337ab7;
}

.main-body {
    min-height: 400px;
}

.goodtype {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

/* ####################### 商品分类标签 ################*/

.typelink {
    height: 30px;
    line-height: 30px;
    margin: 0px 25px 0px 25px;
    font-size: 17px;
    font-weight: 600;
}

.typelink:hover {
    border-bottom: 4px solid rgb(106, 146, 207);
}

.goodstype {
    margin: 5px 15px;
    line-height: 15px;
    font-weight: 600;
    font-size: 1em;
    color: white;
    font-size: 1.1em;
}
.goodstype:hover {
    color: cornflowerblue;
}

.well2 {
    padding: 15px 20px;
    background-color: #337ab7;
}


/*################ goods showing ################# */

.goods-area {
    padding: 5px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
    background-color: #fff;
    margin: 0px 7%;
}

.goodrow {
    margin: 5px;
    text-align: center;
    margin-bottom: 10px;
}


/* =============================================淘宝翻页框 */

.pagebox {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
}

.pagebox .wraper {
    display: block;
    float: left;
    margin-left: 50%;
}

.pagebox .inner {
    float: left;
    margin-left: -50%;
}

.pagebox .items {
    float: left;
}
.pagebox .num {
    font-size: 1.1em;
    font-weight: 600;
}
.pitem {
    padding: 0px 10px;
    height: 35px;
    line-height: 35px;
    margin: 4px;
    border: solid 1px #dbdce1b0;
    cursor: pointer;
    display: inline-block;
    color: #757677;
}

.pagebox .active, .pitem:hover{
    background-color: #3e98e6;
    color: white;
}

.m-page a:focus, .m-page a:hover {
    color: #f40;
}




.next, .prev {
    width: 70px;
    font-weight: 400;
}

.total {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    line-height: 37px;
}


.text {
    float: left;
    line-height: 37px;
}

.pagebox .pbform {
    margin: 10px 2px 0px 20px;
    float: left;  
    height: 30px;
}

.pagebox .pbinput {
    width: 45px;
    border: solid 1px #ededed;
    height: 25px;
    text-align: center;
    margin: 0px 5px;   
    color: #6c5d5d;  
    line-height: 25px;
}

.pagebox .inputbtn {
    margin-left: 10px;
    color: #717373;
    padding: 3px 8px;
}

/* ==================================================== */