.search-row {
    height: 100px;
    text-align: center;
    padding: 30px;
}

.search-input {
    padding-left: 15px;
    color: #333333;
    width: 500px;
    border-radius: 30px 0px 0px 30px;
    border: 3px solid #337ab7;
    height: 40px;
    font-size: 1.2em;
}

.search-btn {
    width: 80px;
    height: 40px;
    border-radius: 0px 30px 30px 0px;
    color: white;
    font-size: 1.2em;
    background: linear-gradient(120deg, #337ab7, #3193e8);
    border: 3px solid #337ab7;
    border-right: none;
}

.search-btn:hover {
    background: #337ab7;
}

.main-body {
    min-height: 400px;
}

.goodtype {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

/* ####################### 商品分类标签 ################*/

.typelink {
    height: 30px;
    line-height: 30px;
    margin: 0px 25px 0px 25px;
    font-size: 17px;
    font-weight: 600;
}

.typelink:hover {
    border-bottom: 4px solid rgb(106, 146, 207);
}

.goodstype {
    margin: 5px 15px;
    line-height: 15px;
    font-weight: 600;
    font-size: 1em;
    color: white;
    font-size: 1.1em;
}
.goodstype:hover {
    color: cornflowerblue;
}

.well2 {
    padding: 15px 20px;
    background-color: #337ab7;
}


/*################ goods showing ################# */

.goods-area {
    padding: 5px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.1);
    background-color: #fff;
    margin: 0px 7%;
}

.goodrow {
    margin: 5px;
    text-align: center;
    margin-bottom: 10px;
}


/* =============================================淘宝翻页框 */

.m-page {
    position: relative;
    margin-top: 20px;
    padding: 10px 0;
}

.m-page .wraper {
    display: block;
    float: left;
    margin-left: 50%;
}

.m-page .inner {
    float: left;
    margin-left: -50%;
}

.m-page .active, .m-page .active:hover {
    position: relative;
    background: #f40;
    color: #fff;
    border-color: #f40;
    cursor: default;
}

.m-page a:focus, .m-page a:hover {
    color: #f40;
}

.m-page .items {
    float: left;
}

.m-page .item {
    position: relative;
    float: left;
    margin-left: 3px;
    width: 35px;
    border: solid 1px #ededed;
    height: 35px;
    color: #3e3e3e;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.m-page .next, .m-page .prev {
    width: 70px;
    font-weight: 400;
}

.m-page .item .num {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 14px;
}

.m-page .total {
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    line-height: 37px;
}

.m-page .form {
    float: left;
}

.m-page .text {
    float: left;
    line-height: 37px;
}

.m-page .input {
    width: 40px;
    border: solid 1px #ededed;
    height: 21px;
    text-align: center;
    margin-top: 7px;
    float: left;
    color: #999;
}

.m-page .btn {
    height: 21px;
    width: 43px;
    border-radius: 2px;
    border: solid 1px #ededed;
    text-align: center;
    line-height: 21px;
    margin-top: 4px;
    padding: 1px;
}

/* ==================================================== */