/* user message box */

.user {
    background-color: #fff;
    text-align: center;
    padding: 0.4em 1em;
}

.headimg {
    --width: 70px;
    width: var(--width);
    height: var(--width);
    border-radius: var(--width);
}

.username {
    border-bottom: 1px solid #d4dfdf;
    padding-bottom: 0.4em;
    font-size: 1.6em;
    margin-top: 0;
}

.mesage {
    width: 180px;
}

.msgval {
    font-weight: 600;
    padding-left: 0.3em;
}

.mesage dt {
    text-align: left;
    margin: 3px 5px 3px 5px;
    font-size: 1.1em;
    width: 100%;
    font-weight: 500;
    color: #777;
}

.block {
    display: block;
}

.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

/*login box */

.modal-body {
    width: 30em;
    margin: 1em 0.5em;
    padding: 1em;
}

.loginbutton {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background-color: dodgerblue;
    cursor: pointer;
    border-radius: 5px;
    margin: 3px auto;
    color: white;
    font-weight: 600;
    font-size: 1.3em;
}

.login-row {
    width: 100%;
    padding: 0 1em;
    margin-top: 1.6em;
    text-align: center;
}

.inputbox {
    height: 2.3em;
    width: 100%;
    line-height: 2.3em;
    margin-left: -2em;
    padding-left: 2.5em;
}

.emailbox {
    width: 190px;
    margin-right: 5px;
}

.rg-tag {
    margin-right: 1em;
    float: right;
    font-size: 1.2em;
    top: 1em;
    position: relative;
}

.liico {
    position: relative;
    top: 3px;
    color: #5e656a;
}

@media screen and (max-width:600px) {
    .user {
        background-color: unset;
    }
    .mesage dt, .msgval {
        color: #d2d7ff;
    }
    .mesage {
        width: 80%;
        margin: 0em auto;
    }
    .username {
        border-bottom: 1px solid #7b7b7b;
    }
    .username a, .block {
        color: var(--tmcl-1);
    }
    .public-box {
        width: 90%;
    }
    .modal-body{
        width: 25em;
    }
}
