<div class="container window">

    <div class="col-md-8-offset-2">
        <div class="row path">
            <ol class="breadcrumb" style="margin: 0% auto; max-width: 800px;">
                <li><a  routerLink="/homepage">交易区</a></li>
                <li *ngIf="myid!=''"><a routerLink="/myself/myhome">我的主页</a></li>
                <li class="active">{{data.id}}</li>
            </ol>
        </div>

        <div class="message g-bg-box">
            <div class="row personal-msg">
                <div class="col-md-3 col-sm-4">
                    <img src={{data.headimg}} alt="head-img" class="head-img" (click)="showimg(data.headimg)">
                </div>
                <!--person mesage simple descripb-->
                <div class="col-md-7 col-sm-8 nameandsign">
                    <h3>{{data.name}}</h3>
                    <h4 style="color: #03A9F4;">{{data.sign}}</h4>
                </div>
                <div class="col-md-2 col-sm-12" style="margin-bottom: 1em;">
                    <a class="btn btn-info button1" data-toggle="modal"
                        data-target=".bs-example-modal-sm">发私信</a>
                </div>

            </div>
            <!--small ico-->
            <div class="row" style="margin:3px;">
                <span class="g-ico glyphicon glyphicon-king"> 等级:{{data.leave}}</span>
                <span class="g-ico glyphicon glyphicon-piggy-bank">
                    积分:{{data.credits}}</span>
                <span class="g-ico glyphicon glyphicon glyphicon-stats">
                    排名:{{data.rank}}</span>
                <span class="g-ico glyphicon glyphicon-heart">
                    关注:{{data.becare}}</span>
                <span class="g-ico glyphicon glyphicon-thumbs-up">
                    点赞:{{data.likes}}</span>
                <span class="g-ico ico2" (click)="addConcern()"
                    [ngClass]="{'already': is_concern}"
                    title="{{btn_concern_sho}}">
                    <i class="glyphicon glyphicon-heart"></i>
                </span>
                <span class="g-ico ico2" (click)="updateLike()"
                    [ngClass]="{'already': is_like}" title="{{btn_like_sho}}">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                </span>
            </div>

            <!--信息主体-->
            <div class="row">

                <!--base message-->
                <div class="panel panel-info my-panel">
                    <div class="panel-heading"><span class="glyphicon
                            glyphicon-th-list"></span> 基本信息</div>
                    <div class="panel-body">
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">司机ID</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.id}}</div>
                        </div>

                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">账号昵称</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.name}}</div>
                        </div>

                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">个性签名</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.sign}}</div>
                        </div>

                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">性别</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.sex}}</div>
                        </div>

                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">专业</div><!--不显示-->
                            <div class="col-md-10 col-xs-9 describ">{{data.major}}</div>
                        </div>

                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">年级</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.grade}}</div>
                        </div>

                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">学院</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.colleage}}</div>
                        </div>

                    </div>
                </div>

                <!--connect message-->
                <div class="panel panel-info my-panel">
                    <div class="panel-heading"><span
                            class="glyphicon glyphicon-phone">
                        </span> 联系方式</div>
                    <div class="panel-body">
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">手机号码</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.phone}}</div>
                        </div>
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">QQ</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.qq}}</div>
                        </div>
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">邮箱</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.emails}}</div>
                        </div>
                    </div>
                </div>

                <!--static-->
                <div class="panel panel-info my-panel">
                    <div class="panel-heading"><span
                            class="glyphicon glyphicon-stats">
                        </span> 其他数据</div>
                    <div class="panel-body">
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">上次登录</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.lasttime
                                | date:'yyyy-MM-dd hh:mm'}}</div>
                        </div>
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">资源数量</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.goodsnum}}</div>
                        </div>
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">交易数</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.scuess}}</div>
                        </div>
                        <div class="row msg-box">
                            <div class="col-md-2 col-xs-3 msg">访问量</div>
                            <div class="col-md-10 col-xs-9 describ">{{data.visit}}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!--模态框-->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content send-text-box">
                <textarea id="messagesender" type="text" class="form-control"
                    placeholder="这里输入你想发送的私信..."></textarea>
                <button type="button" class="btn btn-info" (click)="sendMessage()">发送私信</button>
            </div>
        </div>
    </div>
</div><!--cotainer-->