<div class="main-body">
  <div class="headrow">
    <div class="row search-row">
        <input id="searchgoods" type="text" class="search-input search-input-c"
          placeholder="🔍 资源名、作者、标签...">
        <button class="search-bt search-bt-c" type="button" (click)="SearchGoods()">
          <!-- <span class="glyphicon glyphicon-search"></span> -->
          <span>搜！</span>
        </button>
    </div>

    <div class="row type-row"><!--type of goods-->
        <a class="typelink-c" (click)="selectType('secondtype')" id="secondtype" [ngClass]="{'typelink-on': lookingtype=='二手商品'}">
          💰 二手商品
        </a>
        <a class="typelink-c" (click)="selectType('packagetype')" id="packagetype" [ngClass]="{'typelink-on': lookingtype=='软件程序'}">
          💾 软件程序
        </a>
        <a class="typelink-c" (click)="selectType('studytype')" id="studytype" [ngClass]="{'typelink-on': lookingtype=='学习资料'}">
          📚 学习资料
        </a>
        <a class="typelink-c" (click)="selectType('mediatype')" id="mediatype" [ngClass]="{'typelink-on': lookingtype=='音乐视频'}">
          📺 音乐视频
        </a>
        <a class="typelink-c" (click)="selectType('messagetype')" id="messagetype" [ngClass]="{'typelink-on': lookingtype=='消息推送'}">
          💬 消息推送
        </a>
        <a class="typelink-c" (click)="selectType('othertype')" id="othertype" [ngClass]="{'typelink-on': lookingtype=='其他资源'}">
          💡 其他资源
        </a>
    </div> <!--row type is over-->
  </div><!--container-fulid is over-->

  <div class="goods-area">
    <div class="row goodrow"><!--goods list-->
      <div class="goodstags">
          <a class="g-tag" *ngFor="let row of showingTag" (click)="selectTag(row.tag)">{{row.tag}}<span>({{row.number}})</span></a>
      </div>
      <div class="goods-box" *ngFor="let goods of goodsarray"  [routerLink]="['/message/goodsdetail', goods.id ]">
        <img src={{goods.headimg}}>
        <div class="row">
          <p class="good-name g-sharnk">{{goods.name}}</p>
        </div>
        <div class="row good-title">
          {{goods.title}}
        </div>
        <div class="row">
          <div class="user-date g-sharnk">
            <p style="font-size: 1em"><span class="glyphicon glyphicon-user"></span> {{goods.username}}</p>
            <p style="font-size: 0.9em"><span class="glyphicon glyphicon-calendar"></span> {{goods.time |
              date:'yyyy-MM-dd' }}</p>
          </div>
          <div class="price-box">
            <div class="goods-price g-sharnk"><span style="font-size: 0.8em;">￥</span>{{goods.price}}</div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
  </div><!--container goods-show is over -->

  <div class="pagebox">
    <div class="wraper">
      <div class="inner" *ngIf="totalpage>1">
        <ul class="items" style="margin: 0;">
          <li class="pitem prev" (click)="prepage()" *ngIf="lookingpage>1">上一页</li>
          <li class="pitem num" *ngFor="let row of pageboxarray"
           [ngClass]="{'active': row+offsetpage==lookingpage}" (click)="gotopage(row + offsetpage)">
           {{row + offsetpage}}
          </li>
          <li class="pitem next" (click)="nextpage()" *ngIf="lookingpage<totalpage">下一页</li>
        </ul>
        <!-- <div class="pbform" >
          共 {{totalpage}} 页, 到第 
          <input class="pbinput" type="number" id="whichpage">
          页
          <button type="button" class="btn btn-default inputbtn" (click)="gotopage()">GO</button>
        </div> -->
      </div>
    </div>

  </div><!--pagebox over-->

</div>
