.search-row {
    text-align: center;
    padding: 7em 0em 2em;
    width: 100%;
    background-color: #2bb1e2;
}

.search-input {
    border-right: none;
    border-radius: 30px 0px 0px 30px;
    padding-left: 15px;
    color: var(--ip-fk);
    font-size: 1.2em;
}

.search-input-c {
    border: 3px solid var(--tmcl-1);
    margin-right: 80px;
    width: 400px;
    height: 40px;
}

.search-bt {
    border-radius: 0px 30px 30px 0px;
    color: var(--bt-fk);
    background: var(--liner-bc);
    font-size: 1.2em;
}

.search-bt:hover {
    background: var(--tmcl-1);
}

.search-bt-c {
    border: 3px solid var( --liner-bc);
    margin-left: -80px;
    width: 80px;
    height: 40px;
}

.main-body {
    margin: 0em;
    min-height: 400px;
    min-width: var(--min-width);
}

.goodtype {
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

/*======== type and tag =======*/

.type-row {
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.typelink-c {
    cursor: pointer;
    font-size: 1.3em;
    margin: 5px 0.5em;
    padding: 4px 0.5em;
    background-color: #fff;
    color: #2bb1e2;
    font-weight: 600;
    border-radius: 5px;
}

.typelink-on {
    background-color: #3199bf;
    color: #fff;
}

.goodstags {
    padding: 15px 20px;
    background-color: var(--tmcl-1);
}

.goodstags span {
    font-size: 0.8em;
    margin-left: 5px;
}

.goodstags {
    background-color: #fff;
    margin: 5px 15px;
    padding: 8px 0px;
    border-radius: 4px;
    position: relative;
    top: -0.5em;
}

.g-tag {
    color: #2bb1e2;
    font-size: 1.1em;
    margin: 0px 8px;
    cursor: pointer;
}

.g-tag:hover .g-tag:focus .g-tag:active {
    color: #0036ff;
}

/*======== goods showing =======*/

.goods-area {
    padding: 5px;
    margin: 0px auto;
    width: 1170px;
}

.goodrow {
    margin: 5px;
    text-align: center;
}

/*======== page box =======*/

.pagebox {
    margin-bottom: 20px;
    text-align: center;
    height: 40px;
}

.pagebox .wraper {
    float: left;
    margin-left: 50%;
}

.pagebox .inner {
    float: left;
    margin-left: -50%;
}

.pagebox .items {
    float: left;
}

.pagebox .num {
    font-size: 1.1em;
    font-weight: 600;
    background-color: #fff;
}

.pitem {
    height: 30px;
    width: 30px;
    line-height: 35px;
    margin: 4px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    color: var(--tmcl-2);
}

.pagebox .active {
    background-color: var(--tmcl-2);
    color: white;
}

.next, .prev {
    width: 50px;
    font-weight: 400;
}

.pagebox .pbform {
    margin: 10px 2px 0px 20px;
    float: left;
    height: 30px;
}

.pagebox .pbinput {
    width: 45px;
    border: solid 1px #ededed;
    height: 25px;
    text-align: center;
    margin: 0px 5px;
    color: #6c5d5d;
    line-height: 25px;
}

.pagebox .inputbtn {
    margin-left: 10px;
    color: #717373;
    padding: 3px 8px;
}

/* ########################################################## */

@media screen and (max-width:1200px) {
    .goods-area {
        width: 940px;
    }
}

@media screen and (max-width:900px) {
    .goods-area {
        width: 720px;
    }
    .main-body {
        margin: 0em;
    }
}

@media screen and (max-width:700px) {
    .goods-area {
        width: 490px;
    }
    .search-input {
        width: 300px;
    }
}

@media screen and (max-width:600px) {
    .search-input-c {
        margin-right: 70px;
        width: 70%;
    }
    .search-bt-c {
        margin-left: -70px;
        width: 70px;
    }
    .typelink-c {
        font-size: 1.2em;
        font-weight: 500;
    }
    .goods-area {
        width: 100%;
        padding: 10px;
    }
    .goods-box {
        --gbheight: 144px;
        height: 140px;
        padding: 0;
        margin: 1em 0px 0px;
        width: 100%;
        padding-left: 144px;
    }
    .goods-box img {
        height: var(--gbheight);
        width: var(--gbheight);
        right: unset;
    }
    .user-date {
        top: unset;
        left: unset;
        padding-left: 15px;
    }
    .good-title {
        line-height: 1.3em;
        height: 4.2em;
        font-size: 1.1em;
    }
    .good-name {
        height: 1.5em;
        font-size: 1.3em;
    }
    .main-body {
        margin: 0em;
    }
    .pagebox {
        margin-bottom: 40px;
    }
    .pagebox .wraper {
        float: unset;
        margin: 0px;
    }
    .pagebox .inner {
        float: unset;
        margin: 0px;
    }
    .pagebox .items {
        float: unset;
        padding: 0px;
        font-size: 0.9em;
    }
    .pagebox .pbform {
        margin: 6px auto;
        float: unset;
    }
    .goodstags {
        margin: 0px;
    }
}