.main-body {
    border: 1px solid var(--thin-bdc);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    color: #6c6c6c;
}
.textpage {
    border-left-width: 5px;
    border-left-color: #5bc0de;
}
.gp-head {
    border-radius: 4px;
    padding: 3px;
    margin-bottom: 20px;
}

.gp-img {
    padding: 0px;
    height: 300px;
    border-right: 2px solid #eaeaea;
}
.gp-img img{
    width: auto;
    height: 100%;
}

.gp-mid {
    height: 300px;
    padding: 1em;
}
.gp-right {
    margin-top: 10px;
}
.ptlable{
    padding: 10px 20px;
    border-radius: 4px;
}
.gp-mid-name {
    font-size: 2em;
    font-weight: bold;
}
.gp-mid-name::before {
    content: "名称： ";
    font-size: 14px;
}
.gp-mid-price {
    background-color: #ffe4e4;
    color: #ff554d;
    font-size: 2em;
    font-weight: 600;
}
.gp-mid-price::before{
    content: "转让价：￥ ";
    font-size: 14px;
    font-weight: 500;
}

.gp-mid-desc {
    background-color: #f1f2ff;
    font-size: 1.2em;
    color: #0e909b;
    margin-top: 1em;
}
.gp-mid-desc::before{
    content: "标题： ";
    font-size: 12px;
}
.pg-mid-butrow {
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
}
.pg-mid-butrow button {
    margin: 0px 0.5em;
    padding: 6px 10px;
}
.gp-mid-lbrow{
    height: 2em; 
}
.label {
    margin: 5px;
    font-size: 0.9em;
}
.nopadbtm {
    margin-bottom: 0px;
}
.gmag{
    display: inline;
    font-size: 1.1em;
    color: #2f8199;
    font-weight: bold;
}
.list-group-item{
    padding: 8px 10px; 
}
.send-text-box {
    width: 400px;
    height: 200px;
    padding: 6px;
    background-color: aliceblue;
}

.send-text-box textarea {
    height: 150px;
}

.send-text-box button {
    margin-right: 1em;
    padding: 6px 10px;
    height: 40px;
    width: 90px;
}
.showbox{
    overflow: hidden;
    border: 1px solid var(--thin-bdc);
}
.showbox img{
    width: 100% !important;
    height: auto !important;
}
.page-header {
    border-bottom: 1px solid #dbd4d4;
    margin: 10px;
    padding: 2px;
    font-size: 2em;
}

.comment-row {
    padding: 2px;
    margin: 6px 2px;
    border-bottom: 1px solid #dee7f0;
    padding: 2px;
}
.cm-head{
    height: 100%;
    float: left;
    width: 50px;
}
.msgbody{
    padding-left: 60px;
    margin-left: -50px;
    float: left;
    clear: right;
    width: 100%;
}
.userhead{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
}

.comment-row-header {
    width: 100%;
}

.com-user {
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    width: 130px;
}

.com-time {
    margin: 2px;
    display: inline-block;
    color: #999494;
    font-size: 0.9em;
}

.comment-text {
    min-height: 1em;
    margin-bottom: 1em;
}

.comment-row td {
    display: inline;
}

.comment-pan {
    clear: both;
}

.comment-pan .com-input {
    min-height: 60px;
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    border: 1px dotted brown;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.comment-pan .com-send {
    float: right;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 90px;
}

/* 🍅 */
@media screen and (max-width:600px) {
    .gp-img img{
        width: 100%;
        max-height:100% ;
    }
    .showbox{
        overflow: scroll;
    }
    .com-time {
        font-size: 0.8em;
    }
}