<div class="window">
    <div class="content">
        <a [routerLink]="['/homepage']" class="goback">Back to homepage</a>
        <h1>Introduce </h1>
        <div class="partbox">
            <h2>How it come from</h2>
            <p>Hi, Everyone. Welcome to BlackCarDriver.cn, I am XianJinRong, a
                computer major student In Guangzhou University. I got a idea in
                the May of 2019 when I see many useable and very new things were
                abandon around the garbage when graduates were going to leave
                there place, Most of those thing were just be throw away
                wastefully , Which made me fell so pity. I have been though that
                we need a better tool to promote our communication and promote
                the cyclic utilization of our unused goods. It is very
                meaningful and it is why it website come form!</p>
        </div>
        <div class="partbox">
            <h2>What is it</h2>
            <p>It site is a platform for our schoolmate to show what they want
                to sell and for those who want to save some money by buy
                second-hand goods instead of expensive new one. But in face, You
                can do more, It is also a community for you to make friends, and
                show your production such as your program work, your painting,
                handcraft etc. Sure, you can share it for free if you want. You
                are welcome to register a account to sign in and upload what you
                want to sell or share, and see what other schoolmate are
                sharing. If you are interesting in some of the goods, you can
                connect author with the email, qq, phone number hi/she leave or
                even just send he/she a message in it site directly. </p>
        </div>
        <div class="partbox">
            <h2>About Rule</h2>
            <p>All serve of it website is totally free, I hope it can help you
                in some way. But there are some rules: </p>
            <p>1. Don’t trust in someone else so easily.</p>
            <p>2. Don’t do injustice things to other.</p>
        </div>
        <div class="partbox">
            <h2>About Author </h2>
            <p>If you have suggestion, question you can connect me with following ways: </p>
            <p><a [routerLink]="['/public/feedback']">Feedback</a></p>
            <p><a [routerLink]="['/message/personals', 19070010 ]">PrivateMessage</a></p>
            <p>qq:1731328065</p>
            <p>Email:13169346002@163.com</p>
        </div>
        <div class="partbox faq">
            <h2>FAQ</h2>
            <b>Why it Introduction writen by English?</b>
            <p>Thank for your reading!</p>
            <b>Why this website name is blackcardriver.cn?</b>
            <p>Don't think too mush, it is because I like it...</p>
        </div>
        <div class="msgbox">
            <h2>统计数据</h2>
            <li *ngFor="let row of data" class="datalist">
                <b class="keyname">{{row.key}}</b>
                <span class="value">{{row.value}}</span>
            </li>
        </div>
    </div>
</div>