<div class="window">
    <div class="content">
        <a [routerLink]="['/homepage']" class="goback">返回主页</a>
        <h1 style="text-align: center;">🍀本站介绍🍀</h1>
        <div class="partbox">
            <h2>🏠 关于本站</h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp; 欢迎来到本站参观,你是否因为宿舍被闲置的物品占满空间而烦恼?
                你是否曾为仅需使用几次的物品
                而付了全价而感到十分可惜? ... 每当毕业生奔赴社会之际, 数以万计的,完好无损的,崭新的,你曾经想要或需要的物品
                被送往垃圾场, 每当看见此番场景, 我总是为地球未来感到担忧的同时也在困惑如何处理毕业时那些有用却带不
                走的宝贝。默默地,搭建本站的想法诞生了.... <br>
                &nbsp;&nbsp;&nbsp;&nbsp;
                今天虽然已步入互联网时代，但是想要在校内找到你需要二手商品或者卖出自己的闲置品仍然缺乏渠道。还在微信群上
                发出求购信号吗，不如来尝试一种新的方式。本站的目的是打造一个兼具实用性和趣味性的校内二手交易社区，
                促进闲置物品的流通再利用。本站的服务完全免费，仅需注册账号并登录即可将你想要发布和分享的广告发出，门槛很低。
                在这里，商品的定义不限于二手的物品，还可以是自己制作的手工作品，程序作品，甚至是学习资源。在这里发布的二手宝
                贝不会被众多的微信消息覆盖,能够保存任意长的时间,更重要的是,在这里与你交易的都是可爱的、诚信的广大青年。
                站长认为，与同校师生共同互惠共赢,才是正在的校友之情！ <br>
                &nbsp;&nbsp;&nbsp;&nbsp; 来吧，加入本站，让我们共同努力大造一个专属广大青年的校园二手交易社区！
            </p>
        </div>

        <div class="partbox">
            <h2>🚥 本站规则</h2>
            <p>1. 不做伤害他人利益,损害本站环境的事情。</p>
            <p>2. 不要轻易相信陌生人,理性交流和交友。</p>
        </div>
        <div class="partbox faq">
            <h2>🚧 常见问题</h2>
            <b>个人的积分和等级如何计算？</b>
            <p>。。。。。。。。。。。。。。。。。。</p>
            <b>主页列出的商品是如何排序的？</b>
            <p>。。。。。。。。。。。。。。。。。。</p>
            <b>为什么上传商品图片和更换头像失败？</b>
            <p>由于本站采用最低的服务器配置,传输图片的质量大小将会严重影响到本站的体验,因此对上传的图片作大小限制和压缩
                处理，为用户带来很大的不便，望轻喷.
            </p>
        </div>
        <div class="partbox">
            <h2>🐖 关于作者</h2>
            <p>本站当前又计科17级的<b>BlackCarDriver</b>负责开发和运维，现在仍然处于开发升级和完善当中, 计划在今后加入
                "校友聊天室" 和 "司机收藏馆"功能。(若反映良好和时间允许)。由于一个人的使用难以发现本站中的不足
                和隐藏的bug, 希望广大用户提供改善建议和发现的问题。你可以通过下面的方式与我交流学习,提供反馈建议等信息:
            </p>
            <p><a [routerLink]="['/public/feedback']">改进建议和问题反馈</a></p>
            <p><a [routerLink]="['/message/personals', 19070010 ]">在本站向我发送私信</a></p>
            <p><a>企鹅号:1731328065</a></p>
            <p><a>邮箱地址:13169346002@163.com</a></p>
        </div>
        <div class="msgbox">
            <h2>📊 统计数据</h2>
            <li *ngFor="let row of data" class="datalist">
                <b class="keyname">{{row.key}}</b>
                <span class="value">{{row.value}}</span>
            </li>
        </div>
    </div>
</div>