<div class="window">
    <div class="content">
        <a [routerLink]="['/homepage']" class="goback">返回主页</a>
        <h1 style="text-align: center;">🍀本站介绍🍀</h1>
        <div class="partbox">
            <h2>🏠 关于本站</h2>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;  本站介绍正在编写中 <br>
                
            </p>
        </div>

        <div class="partbox">
            <h2>🚥 本站规则</h2>
            <p>1. 严禁发布危害本站环境、违反法律法规、影响他人体验的资源。</p>
            <p>2. </p>
        </div>
        <div class="partbox faq">
            <h2>🚧 常见问题</h2>
            <b>个人的积分和等级如何计算？</b>
            <p>
            积分计算的主要依据是某段时间间隔内的特定操作次数,在相同的间隔中收获的积分存在上线值。
            可以理解为使用越频繁积分提升越快。
            在积分计算方面本站设计了一个小彩蛋等待细心的用户发现。
            </p>
            <b>主页列出的资源是如何排序的？</b>
            <p>本站收录的资源将会根据上传时间，点赞次数和上传者等级来综合排序。</p>
            <b>为什么上传资源封面和更换头像失败？</b>
            <p>由于本站采用了最低的服务器配置,传输图片的质量大小将会严重影响到本站的体验,因此对上传的图片作大小限制和压缩
                处理，强烈建议在上传资源时使用导入图片链接或使用jpg格式截图的方式来降低图片大小.
            </p>
        </div>
        <div class="partbox">
            <h2>🐖 关于作者</h2>
            <p>本站当前又计科17级的<b>BlackCarDriver</b>负责开发和运维，现在仍然处于开发升级和完善当中, 计划在今后加入
                "校友聊天室" 和 "司机收藏馆"功能。(若反映良好和时间允许)。由于一个人的使用难以发现本站中的不足
                和隐藏的bug, 希望广大用户提供改善建议和发现的问题。你可以通过下面的方式与我交流学习,提供反馈建议等信息:
            </p>
            <p><a [routerLink]="['/public/feedback']">改进建议和问题反馈</a></p>
            <p><a [routerLink]="['/message/personals', 19100001 ]">在本站向我发送私信</a></p>
            <p><a>企鹅号:1731328065</a></p>
            <p><a>邮箱地址:13169346002@163.com</a></p>
        </div>
        <div class="msgbox">
            <h2>📊 运营状况</h2>
            <li *ngFor="let row of data" class="datalist">
                <b class="keyname">{{row.key}}</b>
                <span class="value">{{row.value}}</span>
            </li>
        </div>
        <div class="partbox">
            <h2>📝 源码地址</h2>
           <p>本站开源了,欢迎参考、指出漏洞、提供建议、加入开发者阵列</p>
           <a href="https://github.com/BlackCarDriver/DriverClub-taobao" target="blank">https://github.com/BlackCarDriver/DriverClub-taobao</a>
        </div>
    </div>
</div>