.window {
    color: #0b0a0ac7;
    font-family: initial;
}

.goback {
    font-size: 1.3em;
    background-color: beige;
    padding: 5px;
}

h1 {
    font-weight: 600;
    color: #222;
}

.content {
    width: 80%;
    margin: 1em auto;
    background-color: white;
    padding: 1em 2em;
    border-radius: 5px;
    box-shadow: 0 0 15px #5d5e5ead;
}

.partbox {
    background-color: #d9edff;
    padding: 5px;
    margin: 15px 0px;
    font-size: 1.3em;
    color: #443838;
}

.partbox h2 {
    color: #5e79c4;
}

.faq b {
    font-weight: 600;
    color: #c48424;
}

.msgbox {
    min-height: 4em;
    border-left: 7px solid #1a695e;
    border-radius: 4px;
    background-color: aliceblue;
    padding: 0.4em 1em;
}

.datalist {
    border-bottom: 1px solid #b9d2e88a;
    margin-top: 0.5em;
    list-style-type: none
}

.keyname {
    color: #7fb5bd;
    font-size: 1.2em;
    display: inline-block;
    width: 15em;
}

.keyname::after {
    content: ":";
}

.value {
    font-size: 1.1em;
    color: #ee6700;
    font-weight: 600;
}

@media screen and (max-width:700px) {
    .content {
        width: 90%;
    }
}