/* user message box */
.user{
    background-color: #fff;
    text-align: center;
    padding: 0.4em 1em;
}
.headimg{
    --width : 70px;
    width:var(--width);
    height: var(--width);
    border-radius: var(--width);
}
.username{
    border-bottom: 1px solid #d4dfdf;
    padding-bottom: 0.4em;
    font-size: 1.6em;
    margin-top: 0;
}
.mesage{
    width: 180px;
}
.msgval{
    font-weight: 600;
    padding-left: 0.3em;
}
.mesage dt{
    text-align: left;
    margin: 3px 5px 3px 5px;
    font-size: 1.1em;
    width: 100%;
    font-weight: 500;
    color: #777;
}
.block{
    display: block;
}
.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

/*注册登录框 */
.sethigth{
    width: 450px;
    padding-bottom: 20px;
}
.clearfix{
    background: #313131;
    padding: 20px 0px 0px 0px;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    color: #aaa;
    font-size: 14px;
}
.login-center {
    width: 400px;
    box-sizing: border-box;
    padding: 0 40px;
    margin: 20px 10px 10px 20px;
}
.inputbox{
    height: 30px;
    width: 260px;
    border: 1px solid #337ab7;
    border-radius: 2px;
    margin-left: 10px;
}

.checkbox1{
    margin-right:5px;
    width:15px;
    height: 15px;
    display: inline-block;
}
.taller{
    position: relative;
    bottom: 3px;
}
.emailbox{
    width:190px;
    margin-right: 5px;
}

.warm{
    color: red;
    left: 20%;
    position: absolute;
}
.disablebtn{
    width: 280px;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    cursor: not-allowed;
    background: rgb(113, 175, 183);
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    color: #ffffff;
}

@media screen and (max-width:600px) {
    .user{
        background-color: unset;
    }
    .mesage dt, .msgval{
        color: #d2d7ff;
    }
    .mesage {
        width: 80%;
        margin: 0em auto;
    }
    .username{
        border-bottom: 1px solid #7b7b7b;
    }
    .username a, .block {
        color:var(--tmcl-1);
    }
}