<nav class="navbar navbar-inverse" style="border-radius: 0px;">
  <a class="navbar-brand" href="https://blackcardriver.cn">
    <!-- <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> -->
    <span aria-hidden="true" style="font-size: 1.2em;  position: relative; top: -3px;">🚓</span>
    BlackCarDriver.cn
  </a>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target="#navhide">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navhide">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/feedback">意见反馈</a></li>
        <li><a>关于本站</a></li>
        <li><a id="singin" (click)="showsinginbox()">登录/注册</a></li>
        <li class="dropdown" id="userbox">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-toggle">
            <span class="glyphicon glyphicon-user"> {{usermsg.name}}<span class="caret"></span></span>
          </a>
          <ul class="dropdown-menu" id="shortmsg">
            <div class="user">
              <img src={{usermsg.headimg}} class="headimg">
              <h4 class="username">
                <a class="cfc" routerLink="/personal">{{usermsg.name}}</a>
              </h4>
              <div class="mesage">
                <dl style="margin-bottom: 0.5em;">
                  <dt>我的等级：<a class="msgval">{{usermsg.leave}}</a></dt>
                  <dt>我的积分：<a class="msgval">{{usermsg.credits}}</a></dt>
                  <dt>未读消息：<a class="msgval">{{usermsg.messagenum}}</a></dt>
                  <dt>商品数量：<a class="msgval">{{usermsg.goodsnum}}</a></dt>
                  <dt>上次登录：<a class="msgval">{{usermsg.lasttime |
                      date:'yyyy-MM-dd'}}</a></dt>
                </dl>
              </div>
              <a class="block" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> 退出登录</a>
            </div>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!--login modelbox-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" style="margin: 8em auto;">
  <div class="modal-content" style="width: max-content;margin: 0 auto;color:
    #595959">
    <div class="modal-body">
      <h3 style="text-align: center;margin: -0.5em auto 0em auto; font-size: 2em;">登录</h3>
      <div class="login-row">
        <div class="login-center-input">
          <span class="glyphicon glyphicon-user liico"></span>
          <input id="loginname" class="g-input inputbox" type="text" name="" maxlength="20"  value="" placeholder="ID、用户名、学号">
        </div>
      </div>
      <div class="login-row">
        <div class="login-center-input">
          <span class="glyphicon glyphicon-lock liico"></span>
          <input id="loginpassword" type="password" class="g-input inputbox" maxlength="20" name="" value="" placeholder="密码">
        </div>
      </div>
      <div class="login-row">
        <span style="font-size: 1.2em;line-height: 1.3em;padding:0em 1em
          0.4em;float:left;">
          <input type="checkbox" name="remember" id="remember"
            checked="checked"> 记住密码
        </span>
        <button type="button" class="loginbutton" (click)="loging()">登录</button>
      </div>
      <span class="rg-tag"><a routerLink="/signup">前往注册</a></span>
      <span class="rg-tag"><a>忘记密码</a></span>
      <button type="button" style="display: none" id="libox-hide" data-dismiss="modal"></button>
      <div style="height:2em"></div>
    </div>
  </div>
</div>
